.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($dark, 0.15);

    &--front {
      background-color: $primary;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $mediumOrange, $darkOrange);
      }
      &-2 {
        background-image: linear-gradient(to right bottom, $mediumGreen, $darkGreen);
      }
      &-3 {
        background-image: linear-gradient(to right bottom, $mediumBlue, $darkPurple);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $mediumOrange, $darkOrange), url(assets/img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, $mediumGreen, $darkGreen), url(assets/img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(to right bottom, $mediumBlue, $darkPurple), url(assets/img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: $primary;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading--span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(to right bottom, rgba($mediumOrange, 0.85), rgba($darkOrange, 0.85));
    }
    &--2 {
      background-image: linear-gradient(to right bottom, rgba($mediumGreen, 0.85), rgba($darkGreen, 0.85));
    }
    &--3 {
      background-image: linear-gradient(to right bottom, rgba($mediumBlue, 0.85), rgba($darkPurple, 0.85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      text-align: center;
      margin: 0 auto;

      li {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $light;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price--box {
    color: $primary;
    margin-bottom: 8rem;
    text-align: center;
  }
  &__price--only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price--value {
    font-size: 6rem;
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $primary;
    box-shadow: 0 1.5rem 4rem rgba($dark, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;
    

      &--front {
        background-color: $primary;
      }
      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details{
      padding: 0 3rem;
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding:7rem 4rem 4rem 4rem;
    }

    &__price--box {
      margin-bottom: 3rem;
    }
    &__price--value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
