.stories {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($dark, 0.1);
  background-color: rgba($primary, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port){
    width: 100% ;
    padding: 4rem;
    padding-left: 7rem;

  }

  @include respond(phone){
    transform: skew(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond(phone){
      transform: translate(-3rem) skew(0);
      shape-outside: circle(45% at 50% 50% );
      clip-path:circle(50% at 60% 50%) ;
    }
  }

  &__img {
    height: 100%;
    transform: translate(-4rem) scale(1.4);
    transition: all 0.5s;
  }
  &__text {
    transform: skewX(12deg);
    color: $grey;

    @include respond(phone){
      transform: skew(0);
    }
  }


  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $primary;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s;
    opacity: 0;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
