.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-large {
  margin-top: 8rem;
}
.u-margin-top-xlarge {
  margin-top: 10rem;
}

//btn none border
.border-none {
  border: none;
}

//float

.float-left {
  float: left;
}
