$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

$mediumOrange: #ffb900;
$darkOrange: #ff7730;

$mediumBlue: #2998ff;
$darkPurple: #5643fa;

$greyLight: #f7f7f7;
$grey: #777;
$greyDark:#999;
$greyXDark:#333;

$light: #eee;
$dark: #000;
$primary: #fff;

$default-font-size: 1.6rem;
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
